body {
  background-color: #000;
  margin: 8px;
  font-family: Verdana;
}
main {
  color: #fff;
  font-size: 16px;
  text-align: center;
  & h1 {
    font-size: 50px;
    font-weight: normal;
  }
  & .cta {
    color: aquamarine;
    font-size: 16px;
  }
  & h2 {
    font-size: 42px;
    font-weight: 300;
  }
  & p {
    font-size: 21px;
    color: grey;
  }
}
footer {
  text-align: right;
  color: grey;
}
