body {
  background-color: #000;
}
main {
  color: #fff;
  font-family: Verdana;
  font-size: 16px;
  text-align: center;
  & h1 {
    font-size: 50px;
    font-weight: normal;
  }
  & p a {
    color: aquamarine;
  }
}
